@font-face {
    font-family: 'Syne';
    src: url('SVN-SyneTactile.woff') format('woff2'),
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Syne', sans-serif; /* Regular font */
}

#character-display {
    font-size: 15rem;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
    font-weight: 800;/* Font for Chinese characters */
}

#feedback {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Syne', sans-serif; /* Regular font */
}

#pinyin-input {
    font-size: 1rem;
    font-family: 'Syne', sans-serif;
    padding: 10px;
    margin: 10px;
}

button {
    cursor: pointer;
    font-family: 'Syne', sans-serif; /* Same font as regular text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    
}

.pinyin {
    font-size: 2rem;
    font-family: 'Noto Sans', sans-serif; /* Different font for the entire pinyin */
}

.tone {
    color: #4CAF50;
    font-size: 2rem;
    font-family: 'Noto Sans', sans-serif; /* Different font for pinyin */
}

.hidden {
    display: none; /* Use this class to hide the input box */
}

/*button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}



#checkButton {
    font-size: 2rem;
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

#nextButton {
    display: none;
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
}
*/
