@font-face {
    font-family: 'Syne';
    src: url('SVN-SyneTactile.woff') format('woff2'),
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Syne', sans-serif;
}

#character-display {
    font-size: 5rem;
    margin-bottom: 20px;
}

#feedback {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}

#pinyin-input, button {
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tone {
    color: red;
}

#checkButton {
    font-size: 2rem;
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

#nextButton {
    display: none;
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
}

